<script type="text/javascript" src="/static/vendor/jquery.js"></script>
<script type="text/javascript" src="/static/vendor/bootstrap.js"></script>
<script type="text/javascript" src="/static/vendor/bootstrap-fileupload.js"></script>
