<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <!-- bootstrap -->
        <link href="/static/bootstrap.css" rel="stylesheet" media="screen"/>
        <title>清华大学</title>
    </head>
    <body>
        <input type="button" value="$label"/>
    </body>
    <script type="text/javascript" src="/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap.js"></script>
</html>
